<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ilia's Resume Chatbot</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link href="/static/chatStyle.css" rel="stylesheet">
</head>
<body>
    <div id="chatbot_window">
        <nav id="navTitle">IliaBot</nav>
        <div id="chat_history"></div>
        <div id="input_window">
            <form id="messageForm" onsubmit="showChatbotResponse()" autocomplete="off">
                <textarea id="userInputBox" type="text" placeholder="Type your message here"></textarea>
                <div id="sendButton" type="button" onclick="showChatbotResponse()">
                    <img src="/static/images/send.png" alt="Send">
                </div>
                <!--
                <input id="userInputBox" type="text" placeholder="Type your message here">
                -->
                <!--
                <input id="sendButton" type="button" value="Send" onclick="showChatbotResponse()">
                -->
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>