<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ilia's Resume Chatbot</title>
    <link href="/static/chatStyle.css" rel="stylesheet">
</head>
<body>
    <div id="chatbot_window">
        <div id="chat_history"></div>
        <div id="input_window">
            <form id="message_form" onsubmit="getChatbotResponse()" autocomplete="off">
                <input id="message" type="text" placeholder="Type your message here">
                <input type="button" value="Send" onclick="getChatbotResponse()">
            </form>

        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>